# Rust build output
/target/

# JetBrains / IDE files
/.idea/
shelf/
*.iml

# Release packages
/Releases/

# Local development projects / assets
/Dev/
**/*.wav
**/*.mp3
**/.assets/audio/
/UserData/Starter World/chunks
/UserData/Starter World/.assets
.assets/audio/misc
chunks
# OS junk
.DS_Store
Thumbs.db